* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
}

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    color: #FFF;
}

input {
    font-size: 40px;
    font-weight: 500;
    color: #FFF;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    display: inline-block;
    width: 342px;
    margin: 20px;
    padding-left: 20px;
    border: none;
    cursor: pointer;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

input:active {
    opacity: 0.3;
}

.button {
    background: #AEC346;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    border-radius: 30px;
    width: 342px;
    height: 72px;
    font-weight: 700;
    font-size: 36px;
    align-items: center;
    color: #FFF;
    cursor: pointer;
    margin-top: 20px;
    border: none;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.5;
}

@media screen and (max-width: 750px) {
    
    img {
        width: 533px;
        height: 324px;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
        font-size: 30px;
        color: #FFF;
    }
    
   input {
        font-size: 35px;
        font-weight: 500;
        color: #FFF;
        border-radius: 14px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: rgba(255, 255, 255, 0.25);
        width: 180px;
        padding-left: 20px;
        border: none;
        cursor: pointer;
        display: flex;
    }

    .button {
        background: #AEC346;
        box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
        border-radius: 20px;
        width: 220px;
        height: 55px;
        font-weight: 700;
        font-size: 30px;
        align-items: center;
        color: #FFF;
        cursor: pointer;
        margin-top: 20px;
        border: none;
    }

    @media screen and (max-width: 600px) {
        img {
        width: 343px;
        height: 150px;
        margin-top: 250px;
        margin-bottom: 50px;
    }

    h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 27px;
        color: #FFF;
    }

    input {
        font-size: 30px;
        font-weight: 500;
        color: #FFF;
        border-radius: 14px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: rgba(255, 255, 255, 0.25);
        width: 150px;
        padding-left: 20px;
        border: none;
        cursor: pointer;
        display: flex;
    }

    .button {
        background: #AEC346;
        box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
        border-radius: 20px;
        width: 160px;
        height: 50px;
        font-weight: 700;
        font-size: 30px;
        align-items: center;
        color: #FFF;
        cursor: pointer;
        margin-top: 20px;
        border: none;
        margin-bottom: 40px;
    }

    }
}